<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>bayesrss - items</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/scripts.js"></script>
</head>
<body>
Count: {{ count }}
<div id="feed" key="{{ feed }}"></div>
{% for item_info in item_list %}
    <div class="{% if item_info.classified %}classified{% else %}unclassified{% endif %}" id="{{ item_info.item.hash }}">
        <b>Title:</b> {{ item_info.item.title }}<br/>
        <b>Description:</b> {{ item_info.item.description }}<br/>
        <b>Prob:</b> {{ item_info.probability }}<br/>l
    </div>
    <br/>
{% endfor %}
</body>
</html>