<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>bayesrss - items</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/scripts.js"></script>
</head>
<body>
<p>Count: {{ count }}</p>
<p><b>Classification:</b> ham is prob &lt; 0.15, spam is prob &gt; 0.90, everything in between is unknown</p>
<br/><br/>
<div id="feed" key="{{ feed }}"></div>
{% for item_info in item_list %}
    <div id="{{ item_info.item.hash }}">
        <strong>{{ item_info.item.title }}</strong><br/>
        {{ item_info.item.description }}<br/>
        <div class="prob"><b>Prob:</b> {{ item_info.probability }}</div>
        <div class="link {% if item_info.classified %}classified{% else %}unclassified{% endif %}"></div>
    </div>
    <br/><br/>
{% endfor %}
</body>
</html>